<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
     <% if(kindofday==="sunday"||kindofday==="saturday"){ %>
        <p style="color: blueviolet;"><%=kindofday %> To-do</p>
     <% }   else { %>
  
        <p style="color: brown;"><%=kindofday %> To-do</p>
     <% } %>
    </body>
</html>